aside
  article.bg-grey
    h4.small-dark-title Interviews
    .embed-responsive.embed-responsive-16by9
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vnaqL--GXY4" frameborder="0" allowfullscreen></iframe>
    h2 Crazy story
    p.text-muted Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    .row.text-muted
      .col-sm-6 iCARE 6/6/15
      
      .col-sm-6
        .glyphicon.glyphicon-user
        |  Stephen K.

  hr
        
  article
    h4.small-dark-title Agenda
    
    +mediaobject("How to Draw")
    +mediaobject("How to Paint")
    +mediaobject("How to Sketch")
    +mediaobject("How to Color")
    
  hr

  article
    h2 Mystery of Colors
    
    a(href="") Rainbow
    br
    strong  Lorem ipsum dolor
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
    a(href="") Rainbow
    br
    strong  Lorem ipsum dolor
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
