aside
  article
    h2 Artfull Expertise
    ul
      li Lorem ipsum dolor sit amet
      li Consectetur adipisicing elit
      li Sed do eiusmod tempor 
      li Incididunt ut labore et 
      li Dolore magna aliqua
      
  hr
  
  article.bg-grey
    .lead RSS Feeds
    h4 Our Keys
    
    p.text-muted Education
    p.text-muted Culpa qui officia deserunt mollit anim id est laborum.
    
  br
  
  article.bg-grey
    .lead RSS Feeds
    h4 Our Keys
    
    img.responsive(src="http://placehold.it/400x200")
    
    p.text-muted Education
    p.text-muted Culpa qui officia deserunt mollit anim id est laborum.
  br
  article.bg-grey
    .lead RSS Feeds
    h4 Our Keys
    
    p.text-muted Education
  
