doctype html

html(lang="en")
  head
    title Jade and Bootstrap Practice site
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="assets/css/main.css")
    include assets/mixins/mixins
    

  body
    .container
      .row
        .col-md-4
          h1 SiteName
        ul.col-md-8.list-inline.text-right(style="margin-top:20px")
          li
            a(href=""): .glyphicon.glyphicon-envelope  Newsletter
          li
            a(href=""): .glyphicon.glyphicon-leaf  RSS
          li  |
          li
            form.form-inline(role="form")
              .form-group
                label.sr-only Email Adress
                input.form-control(type="email", placeholder="Enter Email")
                button.btn.btn-default(type="submit") Sign Up
                
      nav.row
        .col-sm-12
        ul.nav.nav-tabs(style="background: #eee; padding: 20px 10px 0; border-radius 5px 5px 0 0")
          li.active: a(href="") Digital Prints
          li: a(href="") Drawings
          li: a(href="") Water Colors
          li: a(href="") Oil Paitings
          li: a(href="") Sculptures
          li: a(href="") Digital Drawings
      
      
      
      .row.content-row
      
        .col-sm-5
          include col-main
          
        .col-sm-4
          include col-secondary
          
        .col-sm-3
          include col-tertiary
          
