.small-dark-title {
  background: black;
  color: white;
  padding: 6px 12px;
  display: inline-block; }

.content-row {
  padding-top: 10px; }

img.responsive {
  max-width: 100%; }

.col-secondary {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none; }

.bg-grey {
  background: #f5f5f5;
  padding: 0 10px 10px; }

.copyright {
  padding: 20px 0px 40px; }
