mixin tagblock()
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      |  3 days ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong  Tags:
        a(href="")  lorem
        | , 
        a(href="")  lorem
        | , 
        a(href="")  lorem
        
mixin mediaobject(title)
  .media
    .pull-left
      a(href="")
        img.img-circle.media-object(src="http://placehold.it/60x60" alt="...")
    .media-body
      h4.media-heading #{title} 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      
mixin footerunit(item)
  .col-sm-2
    h4 #{item}
    ul
      li aklsdja
      li akjlwnw
      li ksdj skkd
      li djkks llw
      li kaljdlkwkl
      
      
  
