mixin tagblock()
  .row.text-muted
    .col-sm-4
      .glyphicon.glyphicon-time
      |  3 days ago
    .col-sm-8
      .glyphicon.glyphicon-tags
      strong  Tags:
        a(href="")  lorem
        | , 
        a(href="")  lorem
        | , 
        a(href="")  lorem
        
